* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navegação */
header {
    background: rgb(86, 0, 117);
    background: linear-gradient(90deg, rgba(86, 0, 117, 1) 30%, rgba(132, 0, 180, 1) 100%);
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.logo-mika {
    width: 100px;
    height: auto;
}

.nav-link {
    color: #ffffff;
    margin-left: 50px;
    text-decoration: none;
    transition: .5s;
}

.nav-link:hover {
    color: #F3DBFB;
}

.menu {
    width: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Fim da navegação */

#inicio,
#about,
#project,
#contact {
    padding: 50px;
}

/* Home */

#inicio {
    height: 85vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: black;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    color: #818181;
}

.programation {
    width: 400px;
}

/* Fim do home */

/* About */
#about {
    background: rgb(204, 10, 202);
    background: linear-gradient(90deg, rgba(204, 10, 202, 1) 30%, rgba(44, 10, 194, 1) 100%);
    height: 100vh;
}

.title-about,
.title-contact {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid white;
    width: 50%;
}

.container-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-foto {
    width: 400px;
    margin-right: 15px;
}

.bem-vindos {
    color: white;
    text-align: center;
    line-height: 55px;
}

p {
    color: white;
    text-align: justify;
    width: 685px;
    line-height: 30px;
}

.curriculo-button {
    background-color: white;
    color: black;
    font-weight: 800;
}

.curriculo-button:hover {
    box-shadow: 1px 7px 25px 1px rgba(255, 255, 255, 0.8);
    color: white;
    border: none;
}

.curriculo-button:active {
    opacity: .7;
}

/* Fim do about */


/* Projects */
.container-title {
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title-project {
    color: black;
    font-weight: 700;
    border-bottom: 1px solid black;
    width: 50%;
}

.container-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
 /*    overflow: auto;
    scroll-snap-type: x mandatory; */
}

/* .container-project .cards {
    flex-shrink: 0;
    scroll-snap-align: start;
} */

.cards {
    width: 383px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 7px 25px 1px rgba(133, 0, 181, .5);
    transition: .5s;
}

.cards:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.card-img img {
    width: 400px;
    height: auto;
}

.card-text {
    text-align: center;
}

.title-card {
    font-size: 20px;
    color: black;
}

.text-card {
    font-size: 15px;
    color: black;
    font-weight: 400;
    width: 260px;
    text-align: center;
}

button {
    color: white;
    background: rgba(133, 0, 181, .8);
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 30px;
    margin: 15px 0;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}

button:hover {
    background: rgba(133, 0, 181, .1);
    color: black;
    border: 2px solid rgba(133, 0, 181, .8);
}

/* Fim do project */

#btnTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #F3DBFB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}

.arrow {
    border: solid #000000;
    border-width: 0 6px 6px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* Contact */

#contact {
    background: rgb(204, 10, 202);
    background: linear-gradient(90deg, rgba(204, 10, 202, 1) 30%, rgba(44, 10, 194, 1) 100%);
}

.container-icon {
    display: flex;
    justify-content: center;
}

.icon {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 7px 25px 1px rgba(255, 255, 255, .5);
    margin-left: 50px;
    padding-top: 10px;
    transition: .5s;
}

.icon:first-child {
    margin-left: 0;
}

.icon:hover {
    transform: scale3d(1.1, 1.1, 2);
}

.contact-link {
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo {
    width: 50px;
}

.subtitle-contact {
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 0;
}

.text-contact {
    color: white;
    width: 300px;
    text-align: center;
    font-weight: 200;
}

/* Fim do contact */

@media screen and (max-width:950px) {
    .navegacao {
        padding: 5px 15px;
    }

    #inicio,
    #about,
    #project,
    #contact {
        margin: 0;
        height: auto;
        padding: 20px;
    }

    .container {
        display: block;
        text-align: center;
        padding: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .programation {
        width: 320px;
        margin-top: 50px;
    }

    .container-about {
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
    }

    .foto {
        text-align: center;
    }

    .my-foto {
        width: 300px;
        margin-right: 0;
    }

    .container-text {
        text-align: center;
    }

    .text-about {
        width: 100%;
    }

    #project {
        width: 100%;
        height: auto;
    }

    .card-img {
        width: 100%;
        height: auto;
    }

    .container-icon {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .icon {
        margin: 0;
        width: 85%;
        box-shadow: 1px 7px 25px 1px rgb(255 255 255 / 50%);
    }

}

@media screen and (max-width:570px) {
    header {
        position: fixed;
        width: 100vw;
    }

    #inicio {
        padding: 0;
        padding-top: 20%;
    }

    .nav-link {
        display: block;
        margin: 50px;
    }

    .menu {
        display: block;
    }

    .links {
        position: fixed;
        width: 70%;
        height: 100%;
        background: linear-gradient(90deg, rgba(86, 0, 117, 1) 30%, rgba(132, 0, 180, 1) 100%);
        top: 65px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~.links {
        right: 0;
    }
}

@media screen and (max-width:450px) {


    #inicio {
        padding: 0;
        padding-top: 20%;
        height: 90vh;
    }

    .container div h1 {
        font-size: 28px;
    }

    .container div h2 {
        font-size: 22px;
    }

    .cards {
        width: 95%;
    }

    .cards:hover {
        transform: none;
    }

}